{% extends '../base.html' %}
{% load static %}

<!-- Estilos adicionales -->
{% block estilos-adicionales %}
<!-- <link rel="stylesheet" href="{% static 'css/home/home.css'%}"> -->
{% endblock estilos-adicionales %}

<!-- Titulo -->
{% block title %}
    
{% endblock title %}
    
<!-- Cuerpo -->
{% block body %}
<div id="header-register" class="py-3">
    <h2 class="text-center">Home View</h2>
    <h4>Bienvenido {{user.nombre}} {{user.aPaterno}}</h4>
    <a href="{% url 'users_app:user-logout' %}">Cerrar sesión</a>
    <a href="{% url 'users_app:user-update-password' %}">Cambiar contraseña</a>
</div>
{% endblock body %}