{% extends '../base.html' %}
{% load static %}
{% load humanize %}

<!-- Titulo -->
{% block title %}
    Recetas
{% endblock title %}

<!-- Estilos adicionales -->    
{% block estilos-adicionales %}
<link rel="stylesheet" href="{% static 'css/recetas/recetas.css'%}">
{% endblock estilos-adicionales %}      
    
<!-- Cuerpo -->
{% block body %}

<div class="main-wrapper">
    {% include '../includes/paciente/side-menu.html' %}
    {% include '../includes/header.html' with title="Tus Recetas" only%}

    <div class="page-content profile-settings">

		<!-- Profile settings -->
		<div class="container">

            <div class="tab-content">            

                <div class="tab-pane active" id="ver-recetas">
                    <div class="panel panel-default">
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="patient-appointments-col">	
                                    
                                    {% for receta in recetas %}
                                    <div class="patient-widget">		
                                        <div class="patient-top-details">
                                            <div>
                                                <span class="invoice-id">Receta {{receta.id}}</span>
                                            </div>
                                            <div>
                                                <span class="date-col">{{receta.fecha}}</span>
                                            </div>
                                        </div>	
                                        <div class="invoice-widget">
                                            <div class="pat-info-left">
                                                <div class="patient-img">
                                                    <a href="#">
                                                        <img src="{% static 'img/pwa/doctors/doctor-thumb-01.jpg'%}" class="img-fluid" alt="User Image">
                                                    </a>
                                                </div>
                                                <div class="pat-info-cont">
                                                    <h4 class="pat-name"><a href="#">
                                                        
                                                        {% if receta.doctor.sexo == "F" %}
                                                            Dra.
                                                        {% else %}
                                                            Dr.
                                                        {% endif %}
                                                        {{receta.doctor}}
                                                    </a></h4>
                                                    <div class="patient-details-col">
                                                        <span class="">{{receta.contenido}}</span>
                                                    </div>
                                                    <div class="status-col no-shadow">
                                                        <div class="status-btn">
                                                            <a href="#" class="btn view-eye"><i class="fas fa-envelope"></i> Enviar por correo</a>
                                                        </div>
                                                        <div class="status-btn">
                                                            <a href="#" class="btn print"><i><img src="{% static 'img/pwa/icon-metro-printer.svg'%}" alt=""></i>Print</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- Receta -->
                                    {% endfor %}

                                </div>
                            </div>                                 
                        </div>
                    </div>
                </div><!--  Ver Recetas -->
                


            </div>

		</div>
		<!-- Profile settings -->
	</div>

</div>
    <!-- /Main wrapper -->
    <footer>
        <div class="footer-fixed">
            <div>
            <a href="tel:+526622222222"><button class="btn btn-footer">Call Center</button></a>
            </div>
            <div> 
                <p>Lunes a Domingo | 9:00am - 9:00pm</p>
                <p>Gobierno Municipal 2018-2021</p>
            </div>
           
        </div>
    </footer>



{% endblock body %}