{% extends '../base.html' %}
{% load static %}
{% load humanize %}

<!-- Titulo -->
{% block title %}
    Recetas
{% endblock title %}
    
<!-- Cuerpo -->
{% block body %}

<div class="main-wrapper">
    {% include '../includes/doctor/side-menu.html' %}
    {% include '../includes/header.html' with title="Recetas" only%}

    <div class="page-content profile-settings">

		<!-- Profile settings -->
		<div class="container">
		 	<div class="tab-col">
			 	<ul class="nav nav-tabs">
                     <li><a href="#hacer-receta" data-toggle="tab" class="active">Hacer Receta</a></li>
				    <li><a href="#ver-recetas" data-toggle="tab">Ver Recetas</a></li>
			  	</ul>
            </div>

            <div class="tab-content">


                
                <div class="tab-pane active" id="hacer-receta">
                    <div class="panel panel-default">
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="page-content profile-settings pt-0">
                                <div class="container">
                                     <div class="tabs-animated-wrap">
                                        <div class="tabs">
                                            <div id="Basic-info" class="page-content tab tab-active pt-0 pb-15">
                                                <div class="setting-widget">
                                                    <div class="list no-hairlines-md">
                                                        <form method="POST">
                                                            {% csrf_token %}
                                                              <ul>
                                                                <li class="item-content item-input">
                                                                      <div class="item-col">
                                                                        <div class="item-title item-label">Paciente </div>
                                                                        {{form.errors.paciente}}
                                                                        <div class="item-input-wrap">
                                                                              {{form.paciente}}
                                                                              <span class="input-clear-button"></span>
                                                                        </div>
                                                                      </div>
                                                                </li>
                                                                <li class="item-content item-input col-50 dob">
                                                                    <div class="item-col">
                                                                      <div class="item-title item-label">Fecha {{form.errors.fecha}}</div>
                                                                      <div class="item-input-wrap date-picker-col">
                                                                            {{form.fecha}}
                                                                          <span class="calendar-icon"><img src="{% static 'img/pwa/icon-metro-calendar-big.svg' %}" alt=""></span>
                                                                      </div>
                                                                    </div>
                                                                </li>

                                                                <li class="item-content item-input">
                                                                      <div class="item-col">
                                                                        <div class="item-title item-label">Contenido </div>
                                                                        {{form.errors.contenido}}
                                                                        <div class="item-input-wrap">
                                                                              {{form.contenido}}
                                                                              <span class="input-clear-button"></span>
                                                                        </div>
                                                                      </div>
                                                                </li>
                                                                <li class="item-content item-input col-50 dob">
                                                                    <div class="item-col">
                                                                      <div class="item-title item-label">Consultorios</div>
                                                                      <div class="appointments-details">
                                                                        <div class="inner-appointment">
                                                                            <div class="appointment-col">
                                                                                <a href="{% url 'videollamada:consultorio1' %}" class="btn" target="popup" onClick="window.open(this.href, this.target, 'width=350,height=420'); return false;">Consultorio 1</a>
                                                                            </div>
                                                                            <div class="appointment-col">
                                                                                <a href="{% url 'videollamada:consultorio2' %}" class="btn" target="popup" onClick="window.open(this.href, this.target, 'width=350,height=420'); return false;">Consultorio 2</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                        
                                                                    <div class="appointments-details">
                                                                        <div class="inner-appointment">
                                                                            <div class="appointment-col">
                                                                                <a href="{% url 'videollamada:consultorio3' %}" class="btn" target="popup" onClick="window.open(this.href, this.target, 'width=350,height=420'); return false;">Consultorio 3</a>
                                                                            </div>
                                                                            <div class="appointment-col">
                                                                                <a href="{% url 'videollamada:consultorio4' %}" class="btn" target="popup" onClick="window.open(this.href, this.target, 'width=350,height=420'); return false;">Consultorio 4</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </li>                                                    
                                                                <li class="bottom-button">
                                                                    <button type="submit" class="btn">Subir Receta</button>
                                                                </li>
                                                              </ul>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>           <!-- Hacer Receta -->









                


                
     

                <div class="tab-pane" id="ver-recetas">
                    <div class="panel panel-default">
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="patient-appointments-col">	
                                    
                                    {% for receta in recetas %}
                                    <div class="patient-widget">		
                                        <div class="patient-top-details">
                                            <div>
                                                <span class="invoice-id">Receta {{receta.id}}</span>
                                            </div>
                                            <div>
                                                <span class="date-col">{{receta.fecha}}</span>
                                            </div>
                                        </div>	
                                        <div class="invoice-widget">
                                            <div class="pat-info-left">
                                                <div class="patient-img">
                                                    <a href="#">
                                                        <img src="{% static 'img/pwa/doctors/doctor-thumb-01.jpg'%}" class="img-fluid" alt="User Image">
                                                    </a>
                                                </div>
                                                <div class="pat-info-cont">
                                                    <h4 class="pat-name"><a href="#">{{receta.paciente.user.nombre}} {{receta.paciente.user.aPaterno}} {{receta.paciente.user.aMaterno}}</a></h4>
                                                    <div class="patient-details-col">
                                                        <span class="">{{receta.contenido}}</span>
                                                    </div>
                                                    <div class="status-col no-shadow">
                                                        <div class="status-btn">
                                                            <a href="#" class="btn view-eye"><i><img src="{% static 'img/pwa/icon-awesome-eye.svg'%}" alt=""></i>View</a>
                                                        </div>
                                                        <div class="status-btn">
                                                            <a href="#" class="btn print"><i><img src="{% static 'img/pwa/icon-metro-printer.svg'%}" alt=""></i>Print</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- Receta -->
                                    {% endfor %}

                                </div>
                            </div>                                 
                        </div>
                    </div>
                </div><!--  Ver Recetas -->
                


            </div>

		</div>
		<!-- Profile settings -->
	</div>

</div>
    <!-- /Main wrapper -->



{% endblock body %}