{% load static %}
<!DOCTYPE html>

<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/switch.css' %}">
    <link rel="stylesheet" href="{% static 'css/in_room.css' %}">
    <link rel="stylesheet" href="../static/css/in_room.css">

    <!-- <link rel="stylesheet" href="{% static 'room.css' %}"> -->
    <title>Videollamada</title>

</head>
<body>

    <div class="container-fluid master" id="container">
        <div id="timer_div"></div>
        <div class="remote_div"></div>
        <div class="waiting">
            <h1 class="waiting" > Aun no hay nadie.... Por favor espere...</h1>
           
        </div>
               
        
        
        <div class="buttons">

            <!-- <a href="{% url 'video_app:HomeView' %}" id="disconnect" onclick="leaveRoom()">Disconnect</a>             -->
            <button id="end_room" onclick="endRoom()">Finalizar</button>            
            
                <input type="checkbox" disabled onclick="toggleLocalTrack('video')" value="1" id="toggler_video">

            <!-- <h4 class="switch-label">Local Video : </h4> -->
                <input type="checkbox" disabled onclick="toggleLocalTrack('audio')" value="1" id="toggler_audio">
               
            <!-- <h4 class="switch-label">Local Audio : </h4> -->

        </div>
        <div id="local_media"></div>      
        
    </div>
         

    <script type="text/javascript">
        context = {{ context|safe }};
        // widget.init(context);
    </script>
    <script src="//media.twiliocdn.com/sdk/js/video/releases/2.0.0/twilio-video.min.js"></script>
    <script type="text/javascript" src="{% static 'js/room_script.js' %}" ></script>
    
</body>
</html>