{% extends '../base.html' %}
{% load static %}

<!-- Estilos adicionales -->
{% block estilos-adicionales %}
<link rel="stylesheet" href="{% static 'css/users/register.css'%}">
{% endblock estilos-adicionales %}

<!-- Titulo -->
{% block title %}
    Cambiar Contraseña
{% endblock title %}
    
<!-- Cuerpo -->
{% block body %}


<div class="main-wrapper">

    <div class="page-content change-password-col">
        <div class="list no-hairlines custom-form">
            <div class="back-btn"><a href="index.html" class="back link">
                <img src="{ static 'img/pwa/left-arrow-big-black.svg'}" alt=""></a>
            </div>
            <div class="register-icon">
                <img src="{% static 'img/pwa/logo-nogales-16.png'%}" alt="">
            </div>
            <div class="logo">
                <a href="index.html"><img src="img/pwa/logo.svg" alt=""></a>
            </div>
            <form action="" method="POST">
                {% csrf_token %}

                <ul class="change-list">
                    <li class="item-content item-input">
                        <div class="item-col">
                            {{form.non_field_errors}}
                            <div class="item-input-wrap">
                                {{form.telefono}}
                                <div class="item-input-icon"><img src="{% static 'img/pwa/lock-icon.svg'%}" alt=""></div>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-col">
                            <div class="item-input-wrap">
                                {{form.password1}}
                                <div class="item-input-icon"><img src="{% static 'img/pwa/lock-icon.svg'%}" alt=""></div>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-col">
                            {{form.errors.confirm_new_pass}}
                            <div class="item-input-wrap">
                                {{form.new_password}}
                                <div class="item-input-icon"><img src="{% static 'img/pwa/lock-icon.svg' %}" alt=""></div>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-col">
                            <div class="item-input-wrap">
                                {{form.confirm_new_pass}}
                                <div class="item-input-icon"><img src="{% static 'img/pwa/lock-icon.svg' %}" alt=""></div>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-col">
                            <div class="item-input-wrap submit-btn-col">
                                <button type="submit" class="btn btn-submit">Actualizar Contraseña</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
            <span class="login-back">Regresa al inico de sesion <a href='{% url "users_app:user-login" %}'>Iniciar Sesion</a></span>
        </div>
    </div>

</div>
{% endblock body %}