{% extends '../base.html' %}
{% load static %}
{% load humanize %}

<!-- Estilos adicionales -->
{% block estilos-adicionales %}
<!-- <link rel="stylesheet" href="{% static 'css/home/home.css'%}"> -->
{% endblock estilos-adicionales %}

<!-- Título -->
{% block title %}
    Inicio
{% endblock title %}
    
<!-- Cuerpo -->
{% block body %}
<div class="main-wrapper">

    {% if user.is_doctor %}
    {% include '../includes/doctor/side-menu.html' %} 
    {% else %}
    {% include '../includes/paciente/side-menu.html' %}
    {% endif %}

    {% include '../includes/header.html' with title="Inicio" only%}

    <div class="page-content header-bg pt-0">
        <div class="container">

            <div class="doctor-widget doctor-dashboard">
                <div class="doc-info-left">
                    <div class="doctor-img">
                        <a class="doctor-img-profile" href="doctor-dashboard.html">
                            <img src="{% static 'img/pwa/doctors/doctor-02.jpg' %}" class="img-fluid img-circle" alt="User Image">
                        </a>
                    </div>
                    <div class="doc-info-cont">
                        <div class="toggle-icon-doctor">
                            <div class="inner-toggle-icon">
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                            
                        <h4 class="doc-name"><a href="doctor-profile.html">
                        {% if user.sexo == "F" %}
                            Dra.
                        {% else %}
                            Dr.
                        {% endif %}    
                            {{user | title}}                 
                        </a></h4>
                        <p class="doc-speciality">BDS, MDS - Oral & Maxillofacial Surgery</p>
                        <h5 class="doc-department">
                            <span class="speciality-img"><img src="{% static 'img/pwa/specialities/specialities-05.png' %}" class="img-fluid" alt="Speciality"></span> Dentist
                        </h5>
                        <div class="doc-info">
                            <div class="rating">
                                <span class="doc-experince">15+ Exp</span>
                            </div>
                            <div class="doc-location">
                                <p>(<i class="fas fa-map-marker-alt"></i> {{user.direccion}} {{user.cp}})</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="patient-details">
                <div class="inner-patient-detaials">
                    <div class="patient-col">
                        <div class="inner-patient-col">
                            <div class="progress-col">
                                 <div class="c100 p80 small">
                                    <span class="pat-img"><img src="{% static 'img/pwa/dentist-1.svg' %}" alt="dentist"></span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <h6>Total Patients</h6>
                            <h4>1300+</h4>
                            <span class="date">March 16, 2020</span>
                        </div>
                    </div>
                    <div class="patient-col">
                        <div class="inner-patient-col">
                            <div class="progress-col">
                                 <div class="c100 p40 small">
                                    <span class="pat-img"><img src="{% static 'img/pwa/patient.svg' %}" alt="patient"></span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <h6>Today Patients</h6>
                            <h4>160</h4>
                            <span class="date">March 16, 2020</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="appointments-details">
                <div class="inner-appointment">
                    <div class="appointment-col">
                        <a href="#" class="btn">Today <br>Appointments</a>
                    </div>
                    <div class="appointment-col">
                        <a href="#" class="btn">Upcoming <br>Appointments</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>
<!-- /Main wrapper -->


{% endblock body %}