{% extends '../base.html' %}
{% load static %}
{% load humanize %}

<!-- Estilos adicionales -->
{% block estilos-adicionales %}
<!-- <link rel="stylesheet" href="{% static 'css/home/home.css'%}"> -->
{% endblock estilos-adicionales %}

<!-- Título -->
{% block title %}
    Inicio
{% endblock title %}
    
<!-- Cuerpo -->
{% block body %}
<div class="main-wrapper">

    {% if user.is_doctor %}
    {% include '../includes/doctor/side-menu.html' %} 
    {% else %}
    {% include '../includes/paciente/side-menu.html' %}
    {% endif %}

    {% include '../includes/header.html' with title="Inicio" only%}

    <div class="page-content header-bg pt-0">
        <div class="container">

            <div class="doctor-widget doctor-dashboard">
                <div class="doc-info-left">
                    <div class="doctor-img">
                        <a class="doctor-img-profile" href="doctor-dashboard.html">
                            <img src="{% static 'img/pwa/doctors/doctor-02.jpg' %}" class="img-fluid img-circle" alt="User Image">
                        </a>
                    </div>
                    <div class="doc-info-cont">
                        <h4 class="doc-name"><a href="doctor-profile.html">
                        {% if user.sexo == "F" %}
                            Dra.
                        {% else %}
                            Dr.
                        {% endif %}    
                            {{user | title}}                 
                        </a></h4>
                        <p class="doc-speciality">Cédula Prof. {{user.doctor.cedula}}</p>
                        <!-- <h5 class="doc-department">
                            Especialidad
                        </h5>
                        <div class="doc-info">
                            <div class="rating">
                                <span class="doc-experince">Otra Informacion</span>
                            </div>
                            <div class="doc-location">
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="patient-details">
                <div class="row">
                    <div class="patient-col col-lg-6 col-sm-12">
                        <div class="inner-patient-col">
                            <a href="{% url 'recetas_app:recetas-doctor' %}" ><img src='{% static "img/pwa/miconsultorio.png" %}'></a>
                        </div>
                    </div>
                    <div class="patient-col col-lg-6 col-sm-12">
                        <div class="inner-patient-col">
                            <a href="{% url 'users_app:user-profile' %}" ><img src='{% static "img/pwa/mi-perfil.png" %}'></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- /Main wrapper -->


{% endblock body %}