{% extends '../base.html' %}
{% load static %}
{% load humanize %}

<!-- Estilos adicionales -->
{% block estilos-adicionales %}
<!-- <link rel="stylesheet" href="{% static 'css/home/home.css'%}"> -->
{% endblock estilos-adicionales %}

<!-- Titulo -->
{% block title %}
    Inicio
{% endblock title %}
    
<!-- Cuerpo -->
{% block body %}

<div class="main-wrapper">

    
    {% if user.is_paciente %}
    {% include '../includes/paciente/side-menu.html' %} 
    {% else %}
    {% include '../includes/doctor/side-menu.html' %}
    {% endif %}
        
    {% include '../includes/header.html' with title="Inicio" only%}

    <div class="page-content header-bg pt-0">
        <div class="container">

            <div class="doctor-widget doctor-dashboard">
                <div class="doc-info-left">
                    <div class="doctor-img">
                            <img src='{% static "img/pwa/logo-nogales-16.png" %}' class="img-fluid" alt="User Image">
                    </div>
                    <div class="doc-info-cont">
                        <!--<div class="toggle-icon-doctor">
                            <div class="inner-toggle-icon">
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>-->
                        <h4 class="doc-name">Bienvenido {{user.nombre | title}} {{user.aPaterno | title}}</h4>
                        <p class="doc-speciality"></p>
                        
                            <div class="doc-location">
                                <p> ¿En que te podemos ayudar hoy?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="patient-details">
                <div class="patient-col">
                    <div class="inner-patient-col">
                        <a href="{% url 'videollamada:consultorios' %}" class="btn"><img src='{% static "/img/pwa/imagenvideo.png" %}'></a>
                    </div>
                </div>
                <div class="patient-col">
                    <div class="inner-patient-col">
                        <a href="#" class="btn"><img src='{% static "/img/pwa/saludyb.png" %}'></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer-fixed">
        <div>
        <a href="tel:+526622222222"><button class="btn btn-footer">Call Center</button></a>
        </div>
        <div> 
            <p>Lunes a Domingo | 9:00am - 9:00pm</p>
            <p>Gobierno Municipal 2018-2021</p>
        </div>
       
    </div>
</footer>
{% endblock body %}